* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #8F7C75;
    font-weight: bold;
}
body {
    background: #E1C5B9;
    padding: 25px;
    box-sizing: border-box;
}
.loginScreen .header .logo {
    background: url(../images/background/cup_logo.png) center center no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 129px;
    margin-bottom: 20px;
}
.loginScreen input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    border: none;
    box-shadow: 2px 2px 5px #999;
}
.loginScreen .buttons {
    margin-top: 25px;
    margin-bottom: 25px;
}
.loginScreen .buttons::after {
    content: '';
    display: block;
    clear: both;
}
.loginScreen input + input {
    margin-top: 20px;
}
.loginScreen .button input {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.loginScreen .button {
    width: 47.5%;
    float: left;
    border-radius: 10px;
    background: #e7a17f; /* Old browsers */
    background: -moz-linear-gradient(top, #e7a17f 21%, #9f6d54 100%, #9f6d54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e7a17f 21%,#9f6d54 100%,#9f6d54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e7a17f 21%,#9f6d54 100%,#9f6d54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7a17f', endColorstr='#9f6d54',GradientType=0 ); /* IE6-9 */
    padding: 3px;
    box-sizing: border-box;
}
.loginScreen .buttons .button + .button {
    margin-left: 5%;
}
.loginScreen .center input + .button {
    margin-top: 25px;
}
.loginScreen .center .textOnly {
    background: none;
    font-weight: bold;
    box-shadow: none;
    text-align: right;
    padding: 0;
}
.loginScreen .center .button {
    width: 100%;
    background: #745344; /* Old browsers */
    background: -moz-linear-gradient(top, #745344 21%, #281b15 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #745344 21%,#281b15 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #745344 21%,#281b15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745344', endColorstr='#281b15',GradientType=0 ); /* IE6-9 */
    float: none;
}
.loginScreen .footer .bottomLogo {
    width: 134px;
    height: 134px;
    margin: 0 auto;
    margin-top: 50px;
    background: url(../images/background/cup_circle.png) center center no-repeat;
}